<StackLayout>
    <Label text="Upcoming Launches"></Label>
    <ListView [items]="launches" class="list-group">
        <ng-template let-item="item">
            <GridLayout rows="*, *, *" columns="auto, *"
                [nsRouterLink]="['/detail', item.launch_number]"
                class="list-group-item">
                <Image row="0" col="0" rowSpan="3" [src]="item.links.mission_patch" class="img-circle"></Image>
                <Label row="0" col="1" [text]="item.rocket.rocket_name"></Label>
                <Label row="1" col="1" [text]="item.launch_date_utc"></Label>
                <Label row="2" col="1" textWrap="true" [text]="item.launch_site.site_name_long"></Label>
            </GridLayout>            
        </ng-template>
    </ListView>
</StackLayout>